{%include 'partials/header.html' %}
<br>
<div style="margin-left:20%">
<form action="" method="post">
  {% csrf_token %}
  <div class="form-group">
    <div class="col-md-4">
      <label for="name">Name: {{name}}</label><br/>
      <input type="text" name="name" id="name" class="form-control" value="{{name}}"/>
    </div>
</div>
  <div class="form-group">
      <div class="col-md-4">
        <label for="link">Link: {{link}}</label><br/>
        <input type="text" name="link" id="link" class="form-control" value="{{link}}"/>
      </div>
  </div>

  <div class="form-group">
    <div class="col-md-4">
      <label for="request">Requesting: {{requesting}}</label><br/>
      <input type="text" name="requesting" id="request" class="form-control" value="{{requesting}}"/>
    </div>
  </div>

<br>

<div class="form-group">
  <div class="col-md-4">
    <button type="submit" name="button" class="btn btn-primary">save</button>
    <br>
    <br>
    <a href="/apidashboard">Go Back</a>
  </div>
</div>

</div>
{%include 'partials/footer.html' %}
