
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>API List</title>
  </head>
  <body>
  <div class="navbar header">
    <a class="navbar-brand" href="#">
      <span>API</span>
      <i class="fa fa-bolt" style="color:black"></i>
      <span>Dashboard</span>
    </a>
    <a href="https://lucybot.com/" style="padding-left:550px;">Document your API's</a>
    <div class="search-container">
       <input type="text" placeholder="Search API Name.." name="search">
       <button type="submit"><i class="fa fa-search"></i></button>
    </div>
  </div>
  <div class="w3-sidebar w3-bar-block" style="width:20%">
     <a href="#" class="w3-bar-item w3-button">ALL</a>
     <a href="#" class="w3-bar-item w3-button">ANALYTICS</a>
     <a href="#" class="w3-bar-item w3-button">CLOUD</a>
     <a href="#" class="w3-bar-item w3-button">COLLABORATION</a>
     <a href="#" class="w3-bar-item w3-button">CUSTOMER RELATION</a>
     <a href="#" class="w3-bar-item w3-button">DEVELOPER TOOLS</a>
     <a href="#" class="w3-bar-item w3-button">ECOMMERCE</a>
     <a href="#" class="w3-bar-item w3-button">EDUCATION</a>
     <a href="#" class="w3-bar-item w3-button">EMAIL</a>
     <a href="#" class="w3-bar-item w3-button">ENTERPRISE</a>
     <a href="#" class="w3-bar-item w3-button">ENTERTAINMENT</a>
     <a href="#" class="w3-bar-item w3-button">FINANCIAL</a>
     <a href="#" class="w3-bar-item w3-button">ECOMMERCE</a>
     <a href="#" class="w3-bar-item w3-button">EDUCATION</a>
     <a href="#" class="w3-bar-item w3-button">EMAIL</a>
     <a href="#" class="w3-bar-item w3-button">ENTERPRISE</a>
     <a href="#" class="w3-bar-item w3-button">ENTERTAINMENT</a>
     <a href="#" class="w3-bar-item w3-button">ECOMMERCE</a>
     <a href="#" class="w3-bar-item w3-button">EDUCATION</a>
     <a href="#" class="w3-bar-item w3-button">EMAIL</a>
     <a href="#" class="w3-bar-item w3-button">ENTERPRISE</a>

  </div>
