

{%include 'partials/header.html' %}
<br>
<div style="margin-left:20%">

    <!-- <header>
      <div class ="container">
      <h1>API List</h1>
      <hr>
    </div>
    </header>
    <div class="container"> -->

<div class="form-group">
  <div class="col-md-4">
    <strong>{{APIdashboard.name}}</strong>
  </div>
</div>

<div class="form-group">
  <div class="col-md-4">
    <strong>{{APIdashboard.link}}</strong>
  </div>
</div>


<div class="form-group">
  <div class="col-md-4">
    <strong>{{APIdashboard.requesting}}</strong>
  </div>
</div>

<div class="form-group">
  <div class="col-md-4">
    <a href="/apidashboard/add"> Add API's</a>
  </div>
</div>

<div class="form-group">
  <div class="col-md-4">
    <a href="/apidashboard"><< Go Back</a>
  </div>
</div>
</div>

    {%include 'partials/footer.html' %}
