

{%include 'partials/header.html' %}
<br>
<div style="margin-left:20%">
<div class="form-group">
  <div class="col-md-4">
    <strong>NAME: {{APIdashboard.name}}</strong>
  </div>
</div>

<div class="form-group">
  <div class="col-md-4">
    <strong>LINK: {{APIdashboard.link}}</strong>
  </div>
</div>


<div class="form-group">
  <div class="col-md-4">
    <strong>REQUEST: {{APIdashboard.requesting}}</strong>
  </div>
</div>

<div class="form-group">
  <div class="col-md-4">
    <a href="/apidashboard/add"> Add API's</a>
  </div>
</div>

<div class="form-group">
  <div class="col-md-4">
    <a href="/apidashboard"><< Go Back</a>
  </div>
</div>
</div>

    {%include 'partials/footer.html' %}
